@charset "utf-8";

/************************************************

					setting

*************************************************/
* {
	outline: 0;
	box-sizing: border-box;
}
html,body {
	width: 100%;
	height: 100%;
    min-width: 320px;
	background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    line-height: 1;
	font-weight: 400;
	font-family: 'NotoSansKR', 'NanumSquare', 'NanumGothic', sans-serif;
	letter-spacing: 0px;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
input[type="submit"],input[type="button"],input[type="text"],input[type="password"],input[type="email"],input[type="tel"],input[type="number"],textarea {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-ms-appearance: none !important;
	appearance: none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
	border-radius: 0;
	border: none;
    font-size: 0.938em;
    font-family: 'NotoSansKR', 'dotum', sans-serif !important;
}
input[type="submit"],input[type="checkbox"],input[type="radio"],input[type="button"],button,select,label {
	cursor: pointer;
}
select {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-ms-appearance: none !important;
	appearance: none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
	border-radius: 0;
	background: #ffffff url('../img/select.png') no-repeat right center;
    font-family: 'NotoSansKR', 'dotum', sans-serif !important;
    padding-right: 28px;
}
select::-ms-expand {
	display: none;
}
input::-webkit-input-placeholder {
	color: #c2c2c2;
}
input::-moz-placeholder {
	color: #c2c2c2;
}
input::-ms-input-placeholder {
	color: #c2c2c2;
}
textarea::-webkit-input-placeholder {
	color: #c2c2c2 !important;
}
textarea::-moz-placeholder {
	color: #c2c2c2 !important;
}
textarea::-ms-input-placeholder {
	color: #c2c2c2 !important;
}
header,nav,section,article,footer,figure,h1,h2,h3 {
    display: block;
}
a {
    color: inherit;
}
p,span,th,td {
    word-break: keep-all;
}
img {
	vertical-align: top;
}
button {
    padding: 0;
    border: none;
    font-family: 'NotoSansKR', sans-serif;
}
button>span {
    position: relative;
}
.wrap {
	width: 100%;
	height: 100%;
	position: relative;
	clear: both;
}
.center-ct {
	width: 96%;
	max-width: 1500px;
	margin: 0 auto;
}
.not-view {
	width: 0;
	height: 0;
	position: absolute;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}
.not-pointer {
    cursor: default;
}
.cf:after {
	content: '';
	clear: both;
	display: block;
}
.scroll-disable {
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    touch-action: none;
}

@media screen and (max-width: 900px) {
    p,span,th,td {
        word-break: break-all;
    }
    .center-ct {
        width: calc(100% - 30px);
        margin: 0 15px;
    }
}

/************************************************

					header

*************************************************/
header.header {
    width: 100%;
    height: 141px;
    background-color: #ffffff;
    border-bottom: 1px solid #d7d7d7;
    font-weight: 600;
    font-family: 'NanumGothic', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
}
.mainWrap header.header {
    background-color: #dfe1d6;
}
.mainWrap.blackWrap header.header {
	background-color: #000000;
	border-bottom: 1px solid #333333;
}
header.header .header-top {
    width: 100%;
    height: auto;
    background-color: #333333;
}
header.header .header-top .header-top-menu {
    text-align: right;
}
header.header .header-top .header-top-menu>li {
    width: auto;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    vertical-align: top;
    margin-left: 35px;
    color: #ffffff;
    font-size: 0.875em;
}
header.header .header-top .header-top-menu>li .not-pointer {
    color: #eb9816;
}
header.header .header-main {
    width: 100%;
    height: auto;
}
header.header .header-main .header-main-logo {
    width: 9%;
    height: 106px;
    line-height: 56px;
    display: inline-block;
    vertical-align: top;
    padding: 25px 0;
}
header.header .header-main .header-main-logo a {
    width: 100%;
    height: 100%;
    display: block;
}
header.header .header-main .header-main-logo img {
    width: auto;
    height: 100%;
    display: block;
}
header.header .header-main .header-main-logo .header-main-logo-main {
    display: none;
}
.mainWrap.blackWrap header.header .header-main .header-main-logo .header-main-logo-default {
    display: none;
}
.mainWrap.blackWrap header.header .header-main .header-main-logo .header-main-logo-main {
    display: block;
}

@media screen and (max-width: 1100px) {
    header.header {
        display: none;
    }
}

/************************************************

					nav

*************************************************/
nav.nav {
    width: 91%;
    height: auto;
    max-width: 960px;
    float: right;
}
nav.nav .nav-menu {
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
}
nav.nav .nav-menu>li {
    width: auto;
    height: 106px;
    line-height: 106px;
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    color: #000000;
    font-size: 1.25em;
    position: relative;
}
.mainWrap.blackWrap nav.nav .nav-menu>li {
	color: #ffffff;
}
nav.nav .nav-menu>li .nav-menu-tit {
    cursor: pointer;
}
nav.nav .nav-menu>li .nav-sub-menu {
    width: 165px;
    height: auto;
    padding: 10px 0;
    /*background-color: rgba(255,255,255,0.8);*/
    background-color: #dfe1d6;
    border-top: 4px solid #232323;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 9;
    display: none;
    -webkit-box-shadow: 0 2px 4px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px 2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.2);
    -webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.blackWrap nav.nav .nav-menu>li .nav-sub-menu {
	background-color: #333333;
	border-top: 4px solid #ffffff;
}
nav.nav .nav-menu>li .nav-sub-menu>li {
    padding: 10px 0;
    color: #383838;
    font-size: 0.8em;
    line-height: 1;
}
.blackWrap nav.nav .nav-menu>li .nav-sub-menu>li {
	color: #ffffff;
}
nav.nav .nav-menu>li .nav-sub-menu>li a:hover {
    color: #ff9801;
}

@media screen and (max-width: 1623px) {
    nav.nav .nav-menu>li:last-child .nav-sub-menu {
        left: auto;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

/************************************************

					mobile

*************************************************/
.mobile-area {
    width: 100%;
    height: 87px;
    background-color: #ffffff;
    border-bottom: 1px solid #d7d7d7;
    font-weight: 600;
    font-family: 'NanumGothic', sans-serif;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    display: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
	transition: all 0.4s;
}
.mainWrap .mobile-area {
    background-color: #dfe1d6;
}
.mainWrap.blackWrap .mobile-area {
	background-color: #000000;
	border-bottom: 1px solid #333333;
}
.mobile-area .mobile-header-logo {
    width: auto;
    height: 86px;
    line-height: 56px;
    display: inline-block;
    vertical-align: top;
    padding: 15px 0;
}
.mobile-area .mobile-header-logo a {
    width: 100%;
    height: 100%;
    display: block;
}
.mobile-area .mobile-header-logo img {
    width: auto;
    height: 100%;
    display: block;
}
.mobile-area .mobile-header-logo .mobile-header-logo-main {
    display: none;
}
.mainWrap.blackWrap .mobile-area .mobile-header-logo .mobile-header-logo-default {
    display: none;
}
.mainWrap.blackWrap .mobile-area .mobile-header-logo .mobile-header-logo-main {
    display: block;
}
.mobile-area .mobile-header-btn {
    width: 22px;
    height: 22px;
    display: block;
    background: url('../img/lnb_open.png') no-repeat center;
    background-size: contain;
    position: absolute;
    top: 32px;
    right: 2%;
    cursor: pointer;
}
.mobile-area .mobile-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
    display: none;
}
.mobile-area.on .mobile-mask {
    display: block;
}
.mobile-area .mobile-box {
    width: 300px;
    height: 100%;
    background-color: #dfe1d6;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 7;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
	transition: all 0.4s;
}
.blackWrap .mobile-area .mobile-box {
    background-color: #333333;
}
.mobile-area .mobile-box::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.mobile-area.on .mobile-box {
    right: 0;
}
.mobile-area .mobile-box .mobile-top {
    width: 100%;
    height: auto;
    padding: 22px 15px 23px;
    background-color: #232323;
}
.blackWrap .mobile-area .mobile-box .mobile-top {
    background-color: #ffffff;
}
.mobile-area .mobile-box .mobile-top .mobile-close-btn {
    width: 15px;
    height: 15px;
    display: block;
    background: url('../img/lnb_close_wh.png') no-repeat center;
    background-size: contain;
    position: absolute;
    top: 30px;
    left: 15px;
    cursor: pointer;
}
.blackWrap .mobile-area .mobile-box .mobile-top .mobile-close-btn {
    background: url('../img/lnb_close.png') no-repeat center;
    background-size: contain;
}
.mobile-area .mobile-box .mobile-top .mobile-link {
    width: 100%;
    height: auto;
    padding-left: 10px;
    text-align: right;
}
.mobile-area .mobile-box .mobile-top .mobile-link>li {
    display: inline-block;
    vertical-align: top;
    padding: 9px 0 8px 15px;
    color: #ffffff;
    font-size: 0.875em;
    font-weight: 800;
}
.blackWrap .mobile-area .mobile-box .mobile-top .mobile-link>li {
    color: #000000;
}
.mobile-area .mobile-box .mobile-top .mobile-link>li .not-pointer {
    color: #eb9816;
}
.mobile-area .mobile-box .mobile-menu {
    width: 100%;
    height: auto;
    padding: 15px;
    text-align: left;
}
.mobile-area .mobile-box .mobile-menu>li {
    padding-bottom: 15px;
    color: #000000;
    font-size: 1em;
    font-weight: 800;
    position: relative;
}
.blackWrap .mobile-area .mobile-box .mobile-menu>li {
    color: #ffffff;
}
.mobile-area .mobile-box .mobile-menu>li .mobile-menu-tit {
    display: inline-block;
    padding-right: 5px;
    background-color: #dfe1d6;
    cursor: pointer;
}
.blackWrap .mobile-area .mobile-box .mobile-menu>li .mobile-menu-tit {
    background-color: #333333;
}
.mobile-area .mobile-box .mobile-menu>li .mobile-menu-tit:after {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background-color: #000000;
    position: absolute;
    top: 7px;
    left: 0;
    z-index: -1;
}
.blackWrap .mobile-area .mobile-box .mobile-menu>li .mobile-menu-tit:after {
    background-color: #ffffff;
}
.mobile-area .mobile-box .mobile-menu>li .mobile-sub-menu {
    width: 100%;
    height: auto;
    padding: 8px 10px;
}
.mobile-area .mobile-box .mobile-menu>li .mobile-sub-menu>li {
    padding: 4px 0;
    color: #383838;
    font-size: 0.875em;
    font-weight: 600;
}
.blackWrap .mobile-area .mobile-box .mobile-menu>li .mobile-sub-menu>li {
    color: #c1c1c1;
}
.mobile-area .mobile-box .mobile-menu>li .mobile-sub-menu>li:before {
    content: '';
    width: 2px;
    height: 2px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 3px 0;
    background-color: #383838;
    -webkit-border-radius: 50%;
    -mos-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.blackWrap .mobile-area .mobile-box .mobile-menu>li .mobile-sub-menu>li:before {
    background-color: #c1c1c1;
}
.mobile-area .mobile-box .mobile-menu>li .mobile-sub-menu>li a:hover {
    color: #ff9801;
}

@media screen and (max-width: 1100px) {
    .mobile-area {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .mobile-area .mobile-header-btn {
        right: 15px;
    }
}

/************************************************

					aside

*************************************************/


/************************************************

					footer

*************************************************/
footer.footer {
    width: 100%;
    height: auto;
    padding: 70px 0 90px;
    background-color: #dee0d5;
    font-weight: 600;
    font-family: 'NanumSquare', sans-serif;
}
.blackWrap footer.footer {
	background-color: #000000;
}
footer.footer .footer-logo {
    width: 12%;
    height: auto;
    float: left;
}
footer.footer .footer-logo img {
    width: auto;
    height: 100%;
    max-height: 102px;
    display: block;
}
footer.footer .footer-logo .footer-logo-main {
    display: none;
}
.blackWrap footer.footer .footer-logo .footer-logo-default {
    display: none;
}
.blackWrap footer.footer .footer-logo .footer-logo-main {
    display: block;
}
footer.footer .footer-info {
    width: 36%;
    height: auto;
    float: left;
    margin-left: 4%;
    -webkit-transform: skew(-0.04deg);
	-moz-transform: skew(-0.04deg);
	-ms-transform: skew(-0.04deg);
	transform: skew(-0.04deg);
}
footer.footer .footer-info .footer-info-link>li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    padding-bottom: 15px;
    color: #000000;
    font-size: 0.875em;
    font-weight: 400;
}
.blackWrap footer.footer .footer-info .footer-info-link>li {
	color: #ffffff;
}
footer.footer .footer-info .footer-info-link>li a:hover {
    text-decoration: underline;
}
footer.footer .footer-info .footer-info-tit {
    padding-top: 30px;
    color: #000000;
    font-size: 1em;
    -webkit-transform: skew(-0.04deg);
	-moz-transform: skew(-0.04deg);
	-ms-transform: skew(-0.04deg);
	transform: skew(-0.04deg);
}
.blackWrap footer.footer .footer-info .footer-info-tit {
	color: #ffffff;
}
footer.footer .footer-info .footer-info-con {
    padding-top: 30px;
    -webkit-transform: skew(-0.04deg);
	-moz-transform: skew(-0.04deg);
	-ms-transform: skew(-0.04deg);
	transform: skew(-0.04deg);
}
footer.footer .footer-info .footer-info-con>li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    padding-bottom: 15px;
    color: #000000;
    font-size: 0.875em;
}
.blackWrap footer.footer .footer-info .footer-info-con>li {
	color: #ffffff;
}
footer.footer .footer-info .footer-info-con>li .tit {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
footer.footer .footer-info .footer-info-con>li .con {
    display: inline-block;
    vertical-align: middle;
}
footer.footer .footer-info .footer-info-copyright {
    padding-top: 25px;
    color: #000000;
    font-size: 0.875em;
    -webkit-transform: skew(-0.04deg);
	-moz-transform: skew(-0.04deg);
	-ms-transform: skew(-0.04deg);
	transform: skew(-0.04deg);
}
.blackWrap footer.footer .footer-info .footer-info-copyright {
	color: #ffffff;
}
footer.footer .footer-menu {
    width: 48%;
    height: auto;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: skew(-0.04deg);
	-moz-transform: skew(-0.04deg);
	-ms-transform: skew(-0.04deg);
	transform: skew(-0.04deg);
}
footer.footer .footer-menu>li {
    width: auto;
    height: auto;
    float: left;
    margin-left: auto;
    color: #3e68b0;
    font-size: 0.875em;
}
footer.footer .footer-menu>li .footer-sub-menu {
    padding-top: 15px;
}
footer.footer .footer-menu>li .footer-sub-menu>li {
    padding-top: 15px;
    color: #444444;
    font-weight: 400;
}
.blackWrap footer.footer .footer-menu>li .footer-sub-menu>li {
	color: #ffffff;
}
footer.footer .footer-menu>li .footer-sub-menu>li a:hover {
    color: #ff9801;
}

@media screen and (max-width: 1400px) {
    footer.footer .footer-info {
        width: 33%;
    }
    footer.footer .footer-info .footer-info-link>li {
        margin-right: 15px;
    }
    footer.footer .footer-menu {
        width: 51%;
    }
}

@media screen and (max-width: 1100px) {
    footer.footer {
        padding: 70px 0 80px;
    }
    footer.footer .center-ct {
        position: relative;
    }
    footer.footer .footer-logo {
        width: 75px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    footer.footer .footer-logo img {
        max-height: 62px;
    }
    footer.footer .footer-info {
        width: 100%;
        margin-left: 0;
    }
    footer.footer .footer-info .footer-info-link {
        min-height: 62px;
        margin-left: 115px;
    }
    footer.footer .footer-info .footer-info-tit {
        padding-top: 50px;
    }
    footer.footer .footer-menu {
        display: none;
    }
}

